#menuIzq {
    width: 10%;
    float: left;
}
#zonaCentral {
    width: 80%;
    float: left;
}
#menuDerecho {
    width: 10%;
    float:right;
    margin: 0;
    padding: 0;
}

#preview {
    width: 99%;
    height: 90%;
}

#previewSpriteCanvas{
}

#spriteList {
    width: 100%;
}