#menuDerecho {
    width: 10%;
    float:right;
    margin: 0;
    padding: 0;
}

#preview {
    width: 100%;
    height: 80%;
    padding: 3px 10px;
    border:PowderBlue 5px solid;
    border-radius: 20px;
}

#spriteList {
    width: 100%;
}

#prevGif {
}
